@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #444444;
}

.background{
  background-image: url('/header_4_bubble.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}